body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: white;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a:active {
  color: #4d5ae5;
  text-decoration: underline;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* СТИЛІ ДЛЯ ХЕДЕРА: */

.top-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media screen and (max-width: 767px) {
  .nav-menu,
  .connect-menu {
    display: none;
  }
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logotype {
  color: #4d5ae5;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.54px;
  padding: 16px 0;
  display: block;
}

.black-logo {
  color: #2e2f42;
}

.menu-btn {
  border: none;
  padding: 0;
  background: transparent;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .nav-menu {
    display: flex;
    gap: 40px;
  }

  .page-navigation {
    display: flex;
    align-items: center;
  }

  .logotype {
    margin-right: 120px;
    padding: 24px 0;
  }

  .nav-link {
    display: block;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .now {
    position: relative;
    color: #404bbf;
  }

  .nav-link.now::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }

  .nav-link:active {
    color: #404bbf;
  }

  .connect {
    font-style: normal;
  }

  .connect-to {
    display: block;
    color: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.04em;
  }

  .connect-to:hover,
  .connect-to:focus {
    color: #404bbf;
  }

  .connect-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media screen and (min-width: 1158px) {
  .logotype {
    margin-right: 76px;
  }

  .connect-menu {
    flex-direction: row;
    gap: 40px;
  }

  .connect-to {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/* СТИЛІ СЕКЦІЇ HERO: */

.upper-sect {
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/icons-images/people-office-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 320px;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .upper-sect {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/icons-images/people-office-1.jpg);
  }
}

.main-title {
  text-align: center;
  color: white;
  font-weight: 700;
  max-width: 288px;
  margin: 0 auto;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.order-button {
  font-family: inherit;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  background-color: #4d5ae5;
  padding: 16px 32px;
  min-width: 169px;
  margin: 0 auto;
  height: 56px;
  border: none;
  display: block;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .upper-sect {
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/icons-images/people-office-1.jpg);
    max-width: 768px;
    margin: 0 auto;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .upper-sect {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/icons-images/people-office-1.jpg);
    }
  }

  .main-title {
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .upper-sect {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/icons-images/people-office-1.jpg);
    max-width: 1440px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .upper-sect {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/icons-images/people-office-1.jpg);
    }
  }

  .main-title {
    margin-bottom: 48px;
  }
}

/* СТИЛІ ДЛЯ СЕКЦІЇ BENEFITS */

@media screen and (max-width: 1157px) {
  .benef-icons-cont {
    display: none;
  }
}

.benef-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.benef-menu-item {
  width: 100%;
}

.benef-menu-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
  text-align: center;
}

.benef-text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .benef-menu {
    gap: 72px 24px;
  }

  .benef-menu-item {
    width: calc((100% - 24px) / 2);
  }

  .benef-menu-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .benef-menu-item {
    width: calc((100% - 24px * 3) / 4);
  }

  .benef-icons-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .benef-menu-title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
  }

  .benef-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* СТИЛІ ДЛЯ СЕКЦІЇ OUR TEAM: */

.team-sect {
  background-color: #f4f4fd;
}

.team-sect-thumb {
  max-width: 296px;
}

.team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.team-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team-menu-item {
  width: 100%;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-menu-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 8px;
}

.team-menu-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: center;
}

.person-style-thumb {
  padding: 32px 0;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-sect-thumb {
    max-width: 584px;
  }
  .team-menu {
    gap: 64px 24px;
  }

  .team-menu-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-menu-item {
    width: calc((100% - 24px * 3) / 4);
  }

  .team-sect-thumb {
    max-width: 1158px;
  }
}

/* СТИЛі ДЛЯ OUR PORTFOLIO: */

.portf-thumb {
  max-width: 296px;
  padding: 0;
}

.portf-sect {
  padding: 96px 0;
}

.portf-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.portf-menu-item {
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-menu:hover .portf-menu-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portf-menu-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 8px;
  align-self: stretch;
}

.portf-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  flex-direction: column;
}

.portf-menu-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  align-self: stretch;
}

.portf-menu:hover .portf-menu-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-card {
  overflow: hidden;
  position: relative;
}

.card-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-menu-item:hover .card-text {
  transform: translateY(0%);
}

.app-style-thumb {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  max-width: 288px;
}

@media screen and (min-width: 768px) {
  .portf-thumb {
    max-width: 736px;
  }

  .portf-menu {
    gap: 72px 24px;
    flex-direction: row;
  }

  .portf-menu-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portf-thumb {
    max-width: 1158px;
  }

  .portf-menu-item {
    width: calc((100% - 48px) / 3);
  }
}

/* СТИЛІ ДЛЯ ФУТЕРА: */

.down-sect {
  background-color: #2e2f42;
  padding: 96px 0;
}

.down-thumb {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.down-logo {
  display: block;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-align: center;
}

.white-logo {
  color: #f4f4fd;
  line-height: 1.17;
}

.down-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.footer-links-title {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.icon-links-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.i-footer {
  fill: #f4f4fd;
}

.icon-links:hover .social-list-link,
.media-icons:focus {
  background-color: #31d0aa;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.enter-mail-field::placeholder {
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  letter-spacing: 0.48px;
}

.enter-mail-field {
  background-color: transparent;
  width: 288px;
  height: 40px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #ffffff;
  line-height: 2;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 165px;
  height: 40px;
  cursor: pointer;
}

.subscribe-btn-icon {
  fill: #ffffff;
  margin-left: 16px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .down-logo-paragraph {
    max-width: 264px;
  }

  .down-logo,
  .footer-links-title {
    text-align: left;
  }

  .down-thumb {
    justify-content: left;
    gap: 72px 24px;
    max-width: 584px;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }

  .enter-mail-field {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .down-thumb {
    max-width: 1158px;
    gap: 0;
  }

  .down-logo-paragraph {
    margin-right: 120px;
  }

  .down-social-links {
    margin-right: auto;
  }
}

/* СТИЛІ МОБІЛЬНОГО МЕНЮ: */

/* СТИЛІ МОДАЛЬНОГО ВІКНА: */
